html {
    background-color: gray;
}

nav {
    position: relative;
    top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    border-radius: 2rem;
    margin-bottom: 2rem;
}

nav .search_div input {
    width: 75vh;
    height: 5vh;
    border-radius: 30px;
}

nav .search_div button {
    height: 2rem;
    width: 2rem;
    border: transparent;
    background-color: rgb(253, 206, 35);
    border-radius: 50%;
}

nav h1 {
    margin-left: 2rem;
    color: goldenrod;
}

nav .favorites button {
    margin-right: 2rem;
    border-radius: 2rem;
    background-color: rgb(253, 206, 35);
}

nav .favorites button a {
    text-decoration: none;
    color: black;
}

.movies-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.movie {
    display: flex;
    align-items: center;
    width: 48%;
    margin-bottom: 15px;
    background-color: rgba(0, 0, 0, 0.57);
    padding: 10px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.7);
    border-radius: 10px;
}

.movie img {
    max-width: 110px;
    margin-right: 10px;
}

.movieText{
    padding: 0px 30px;
}

.movieText a {
    text-decoration: none;
}

.movieText a:hover {
    text-decoration: underline;
    color: rgba(218, 165, 32, 0.704);
}

.white {
    color: #ffffff;
}

.fav-btn {
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #f9f9f9;
    padding: 10px;
    text-align: center;
}