nav {
    position: relative;
    top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    border-radius: 2rem;
}

nav .search_div input {
    width: 75vh;
    height: 5vh;
    border-radius: 30px;
}

nav h1 {
    margin-left: 2rem;
    color: goldenrod;
}

nav .favorites button {
    margin-right: 2rem;
    border-radius: 2rem;
}

nav .favorites button a {
    text-decoration: none;
}