nav {
    position: relative;
    top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    border-radius: 2rem;
    margin-bottom: 2rem;
}

nav .search_div input {
    width: 75vh;
    height: 5vh;
    border-radius: 30px;
}

nav .search_div button {
    height: 2rem;
    width: 2rem;
    border: transparent;
    background-color: rgb(253, 206, 35);
    border-radius: 50%;
}

nav h1 {
    margin-left: 2rem;
    color: goldenrod;
}

nav .favorites button {
    margin-right: 2rem;
    border-radius: 2rem;
}

nav .favorites button a {
    text-decoration: none;
}


footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #f9f9f9;
    padding: 10px;
    text-align: center;
}