  html {
    background-color: gray;
  }

  .header {
    text-align: center;
    color: goldenrod;
    padding: 34px;
    background-color: black;
    border-radius: 2rem;
    margin-bottom: 2rem;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .favorite-movies {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    margin: 10px;
    width: 50vw;
    background-color: rgba(0, 0, 0, 0.57);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.7);
    border-radius: 1rem;
  }

    a {
      text-decoration: none;
    }
  
    a:hover {
      text-decoration: underline;
      color: whitesmoke;
    }

  .poster {
    max-width: 55%;
  }

  h2 {
    color: gold;
    margin-bottom: 0px;
  }

  p {
    color: antiquewhite;
  }

  .remove-btn {
    border-radius: 5px;
    background-color: red;
  }